* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    border: 1px solid brown;
    color: green;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background: lightgray;
}

table {
    border: 1px solid black;
    border-collapse:collapse;
    margin: 30px auto;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}