* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    border: 1px solid brown;
    color: green;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background: lightgray;
}